@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Backgrounds */
  --brand-bg: #FFFFFF;
  --brand2-bg: #FFFFFF59;
  --brand3-bg: #f9f9f9;
  --brand4-bg: #f5f5f5;
  --brand5-bg: #e5e3df;
  --brand6-bg: #00d9a6;
  --brand7-bg: #bbbbbb;
  --brand8-bg: #527ceb;
  --brand9-bg: #70707059;
  --brand10-bg: #3d3d3d;
  --brand11-bg: #333333;
  --brand12-bg: #00000073;
  --brand13-bg: #000000b3;
  --brand14-bg: #000000e6;

  /* text colors */

  --brand-text: #FFFFFF;
  --brand2-text: #FFFFFFCF;
  --brand3-text: #FFFFFFC9;
  --brand4-text: #FFFFFFCC;
  --brand5-text: #FFFFFFB3;
  --brand6-text: #FFFFFF99;
  --brand7-text: #FFFFFF80;
  --brand8-text: #F9F9F9;
  --brand9-text: #00D9A6;
  --brand10-text: #AAAAAA;
  --brand11-text: #1BB0CE;
  --brand12-text: #888888;
  --brand13-text: #555555;
  --brand14-text: #444444;
  --brand15-text: #3D3D3D;
  --brand16-text: #393939;
  --brand17-text: #202020;
  --brand18-text: #0E0E0E;
  --brand19-text: #0E0E0EB3;
  --brand20-text: #000000;

  /* icons color */

  --brand-green: #04D9A4;
  --brand-second-green: #9CE263;

  /* fill colors */

  --fill-color: #FFFFFF;
  --fill2-color: #000000;

  /* Border Colors */

  --border-color: #FFFFFF;
  --border2-color: #DEDEDE;
  --border3-color: #BBBBBB;
  
  /* Linear Gradients */

  --brand-linear: linear-gradient(90deg, rgba(156,226,99,1) 0%, rgba(4,217,164,1) 100%);

  --brand2-linear: linear-gradient(90deg, rgba(57,57,57,1) 0%, rgba(0,0,0,1) 100%);
}

* {
  font-family: "Poppins", sans-serif;
                                                
}

.container-large {
  width: 100%;
  margin: 0 10px;
  min-width: 1920px;
}

body {
  overflow-x: hidden;
}

/* HEADER */

.pre-navbar {
  background-color: var(--brand11-bg);
  color: var(--brand-text);
  font-size: 13px;
}

nav {
  width: 100%;
}

.logo-brand img {
  width: 200px;
}
.links a {
  font-size: 14px;
  font-weight: 00;
  color: var(--brand16-text);
  text-decoration: none;
}

.brand-button {
  border: none;
  font-size: 13px;
  border-radius: 100px;
  color: var(--brand-text);
  background: var(--brand-linear);
  box-shadow: 5px 5px 15px 5px rgba(43,255,159,0.30);
  font-weight: 400;
}

.search-button {
  border: none;
  background: none;
  color: var(--brand-green);
}

/* JUMBOTRON */
.jumbotron {
  background-color: var(--brand3-bg);
  position: relative;
  width: 100%;
  height: 880px;
  z-index: -2;
  overflow: hidden;
}

.background_image {
  width: 1100px;
  position: absolute;
  right: -170px;
  top: -20px;
  overflow: auto;
  clip: auto;
  z-index: -1;
}

.pre-title-message {
  font-weight: 600;
  background: linear-gradient(180deg, rgba(156,226,99,1) 0%, rgba(4,217,164,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 10.5px;
}

.title {
  font-size: 56px;
  font-weight: 700;
}

.text-green {
  color: var(--brand-green)
}

.spacing {
  position: static;
  width: 60px;
  height: 5px;
  border-radius: 20px;

}

.spacing2 {
  position: static;
  width: 15px;
  border-radius: 20px;
}

.green {
  background: linear-gradient(90deg, rgba(156,226,99,1) 0%, rgba(4,217,164,1) 100%);
}

.jumbotron p {
  width: 600px;
  font-size: 15px;
}

.black-button {
  border: none;
  font-size: 12px;
  border-radius: 100px;
  color: var(--brand-text);
  background: var(--brand2-linear);
  font-weight: 400;
  width: 150px;
  padding: 10px 15px;
}

.jumbo-links a{
  text-decoration: none;
  color: var(--brand19-text);
  font-weight: 700;
  font-size: 13px;
}

.small-container {
  width: 700px;
}
.carousel-points {
  background: var(--brand2-linear);
  border-radius: 50px;
  
  a {
    color:var(--brand7-text);
    text-decoration: none;
  }
}
.carousel-points a:first-child {
  background: var(--brand-linear);
  border-radius: 50px;
}


.col-5 h2 {
  font-size: 76px;
}


.row {
  margin: 0px;
  padding: 0px;
}

.about {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-6 {
  background-color: var(--brand-bg);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.219); 
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.233);
  width: 450px;
  border-radius: 20px;
}
.col-6 i {
  font-size: 64px
}


.col-6:hover {
  background: var(--brand-linear);
  color: var(--brand-text);
  transition: 0.3s;
  box-shadow: 5px 5px 15px 5px rgba(43, 255, 160, 0.541);
}

/* MISSIONS */

.missions {
  background-color: var(--brand3-bg);
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-mission {
  width: 100%;
}
.container-mission .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.images {
  position: relative;
  top: -300px;
}
.mission-images {
  position: absolute;
  left:0;
}
.missions img {
  width: 800px;
  position: absolute;
  border-radius: 30px;
}
.first {
  top: 100px;
  left: 200px;
}
.linear-gradient-brand {
  background: linear-gradient(90deg, rgba(156, 226, 99, 0.555) 0%, rgba(4, 217, 164, 0.61) 100%)
  , url('./assets/busy-architect-PYVKWM4-1024x872.jpg');
  width: 800px;
  height: 640px;
  border-radius: 30px;
}

.text {
  width: 600px;
  position: absolute;
  left: 60%;

}

.text h2 {
  font-size: 62px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* projects */
.container-large {
  margin: 200px 10px;
}
.projects {
  background-color: var(--brand-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects h2 {
  font-size: 62px;
}

.projects .col-md-3 {
  position: relative;
  overflow: hidden;
}

.projects .col-md-3 img {
  transition: transform 0.3s ease;
}

.projects .col-md-3:hover img {
  transform: scale(1.1);
}

.projects .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(156, 226, 99, 0.555) 0%, rgba(4, 217, 164, 0.61) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.projects .col-md-3:hover .overlay {
  opacity: 1;
}

.projects .overlay-text {
  color: white;
  padding: 20px;
  text-align: left;
}

.projects .overlay-text h6 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.projects .overlay-text::after {
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.projects .brand-button {
  align-self: center;
  width: 200px;
} 

/* QUOTES */

.quotes {
  background: url('./assets/four-businesspeople-in-a-boardroom-with-paperwork-PC4V8H4.jpg') center/cover no-repeat;
  position: relative; 
  width: 100%;
  height: 1000px;
  
}

.quotes::before {
  content: ''; 
  background-color: rgba(0, 0, 0, 0.7); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container-sm {
  height: 100%;
}
.container-sm i {
  color: var(--brand-green);
  font-size: 124px;
}

.quotes .container-sm p {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  color: var(--brand-text);
}

.user-quote {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: 3px solid var(--border-color);
}

.user-quote img{
  width: 250px;

}
.role {
  color: var(--brand-text)
}

/*  News */
.news {
  background-color: var(--brand3-bg);
  width: 100%;
  height: 900px;
}

.news h2 {
  font-size: 54px;
}

.card-container {
  position: static;

  border-radius: 25px;
  width: 600px;
  height: 340px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  bottom: -380px;
  left: 0;
  background-color: var(--brand-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
  width: 70%;
  border: none;
  height: auto; 
  z-index: 2;
}

.card-container img {
  width: 600px;
  height: 340px;
  object-fit: cover; 
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24); 
}

.card:hover img {
  transform: scale(1.1);
}

.card-container span {
  color: var(--brand12-text);
  font-size: small;
}
.card-container ul {
    margin: 0;
    padding: 0 1.3rem;
    font-weight: 700;
    font-size: 22px;
}
.card-container li::marker {
  color: var(--brand-green);
}

.mt-custom {
  margin-top: 200px;
}


/* CTA CARDS */

.cards-CTA {
  background-color: var(--brand3-bg);
}

.row {
  display: flex;
  justify-content: space-around;
}

.col {
  flex: 1;
  padding: 10px;
}

.card-black {
  background: var(--brand2-linear);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  height: 300px;
}

.card-brand {
  background: var(--brand-linear);
  color: white;
  padding: 20px;
  border-radius: 10px;
  height: 300px;

}

.email-input {
  background-color: var(--brand10-bg);
  border-radius: 30px;
}
.email-input input {
  background: none;
  border: none;
  color: white;
}
.email-input button {
  background: none;
  border: none;
  font-size: small;
  color: white
}

/* FOOTER */

footer {
  background-color: var(--brand-bg);

}
footer .container-large {
  margin: 200px 0px;
}
footer .container-large img {

  width: 250px;
}
footer .container-large p {
  font-size: 14px;
}

footer li {
  list-style: none;
  margin-left: -35px;
  margin-top: 10px;
}

footer .container-large .map {
  width: 80%;
}